body {
  font-size: 1.2em;
}
#list1, #list2 {
  float: left;
}
#list2 {
  margin-left: 40px;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}
